<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WSS7 - Recipe Exchange</title>
    <link rel="stylesheet" href="https://use.typekit.net/dup7ryo.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
    [v-cloak] {
        display: none;
    }
    </style>
</head>
<body>
    <header class="nav" id="userVue">
        <div class="navbar container">
        <nav class="navbar-brand">
            <h2><a href="./index.html">
                    <img src="_resources/_icons/Logo.png" alt="Logo">
            </a></h2>
        </nav>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="./recipes.html" class="nav-link">Recipes</a>
            </li>
            <li class="nav-item">
                <a href="./account.html" class="nav-link" v-if='!user.loggedIn' v-cloak>Account</a>
                <a href="./user.html" class="nav-link" v-else v-cloak>Profile</a>
            </li>
            <li class="nav-item">
                <a href="./contact.html" class="nav-link">Contact</a>
            </li>
            <li class="nav-item" v-if='user.loggedIn'>
                <a href="#" class="nav-link" @click='logout()'>Log Out</a>
            </li>
        </ul>
        </div>

        <section class="hero container">
            <article class="heroInfo">
                <h3 class="hero-title">Welcome To</h3>
                <div class="hero-logo">
                    <h1>RECIPE <cite class="default">Exchange</cite></h1>
                </div>

                <div class="hero-subtitle">
                    <p>Wherever your <span class="highlight">HEART</span> is, that is where you will find your <span class="highlight">TREASURE</span></p>
                </div>

                <div class="hero-btns">
                    <a href="#" class="btn">ABOUT US</a>
                    <a href="./recipes.html" class="btn btn-main" id="exploreBtn">START EXPLORING</a>
                </div>
            </article>
        </section>
    </header>

    <main id="app">
        <section class="searchBar">
            <form class="container" @submit.prevent>
                <select name="category" id="category" v-model='search.selCat'>
                    <option value="" selected disabled>CATEGORIES</option>
                    <option v-for="cat in categories" v-cloak>{{cat.category}}</option>
                </select>

                <article class="searchInput">
                    <input type="text" placeholder="e.g. Mom's Spaghetti" v-model="search.selText">
                </article>

                <input type="submit" value="SEARCH" class="btn-main">
            </form>
        </section>

        <blockquote class="blockquote">
            <p class="container">Cooking is like love, it should be entered into with complete abandon,
                or not at all</p>
            <footer class="blockquote-footer container">
            <span>Jeryl Teo, </span><cite>Founder of Recipe Exchange</cite>
            </footer>
        </blockquote>

        <section class="promotions">
            <header class="food-header">
                <div class="background">
                    <div class="overlay"><h2>PROMOTIONS</h2></div>
                </div>
            </header>
            <article class="grid container">
                <div class="grid-item">
                    <h2 class="grid-text">Ramen</h2>
                    <div><img src="_resources/_images/_promo/p_ramen.png" alt="Ramen"></div>
                </div>
                <div class="grid-item">
                    <h2 class="grid-text">Salad</h2>
                    <div><img src="_resources/_images/_promo/p_salad.png" alt="Salad"></div>
                </div>
                <div class="grid-item">
                    <h2 class="grid-text">Omelette</h2>
                    <div><img src="_resources/_images/_promo/p_omelette.png" alt="Omelette"></div>
                </div>
                <div class="grid-item">
                    <h2 class="grid-text">Milkshake</h2>
                    <div><img src="_resources/_images/_promo/p_milkshake.png" alt="Milkshake"></div>
                </div>
            </article>
        </section>
        <section class="latest">
            <header class="food-header">
                <div class="background">
                    <div class="overlay"><h2>LATEST RECIPES</h2></div>
                </div>
            </header>
            <article class="grid container">
                <div class="grid-item">
                    <div><img src="_resources/_images/_latest/l_milkshake.png" alt="l_milkshake"></div>
                    <p class="grid-name">The Perfect Milkshake</p>
                    <cite class="grid-author">Anonymous</cite>
                </div>
                <div class="grid-item">
                    <div>
                        <img src="_resources/_images/_latest/l_scrambled.png" alt="l_scrambled">
                    </div>
                    <p class="grid-name">1 Min Scrambles</p>
                    <cite class="grid-author">Richard Charles</cite>
                </div>
                <div class="grid-item">
                    <div><img src="_resources/_images/_latest/l_benedict.png" alt="l_benedict"></div>
                    <p class="grid-name">Eggs Benedict</p>
                    <cite class="grid-author">Koufu's Secret</cite>
                </div>
                <div class="grid-item">
                    <div><img src="_resources/_images/_latest/l_homeramen.png" alt="l_homeramen"></div>
                    <p class="grid-name">Homemade Ramen</p>
                    <cite class="grid-author">Gordon Ramsey</cite>
                </div>
            </article>
        </section>

        <section class="newsletter">
            <header class="newsletter-title container">
                <h1>JOIN OUR EAT WELL, BE WELL CULTURE</h1>
                <cite>Stay up-to-date with our new recipes, seasonals and promotions</cite>
            </header>
            <form class="container">
                <div class="input-group">
                    <input type="text" placeholder="iLoveFood@foodie.com">
                    <div class="input-group-append">
                        <button class="btn btn-main">SIGN ME UP</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <footer class="footer">
        <header class="footer-brand container">
            <div class="hero-logo">
                <h1>RECIPE <cite class="default">Exchange</cite></h1>
            </div>
        </header>
        <section class="footer-navbar">
            <article class="footer-social-media container">
                <ul>
                    <li><a href="#">
                        <img src="_resources/_icons/icon_gplus.png" alt="gplus">
                    </a></li>
                    <li><a href="#">
                        <img src="_resources/_icons/icon_insta.png" alt="insta">
                    </a></li>
                    <li><a href="#">
                        <img src="_resources/_icons/icon_twit.png" alt="twitter">
                    </a></li>
                    <li><a href="#">
                        <img src="_resources/_icons/icon_ws.png" alt="whatsapp">
                    </a></li>
                </ul>
            </article>
            <article class="footer-nav">
                <ul>
                    <li class="nav-item">
                        <a href="/recipes.html">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account.html">Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact.html">Contact</a>
                    </li>
                </ul>
            </article>
        </section>
        <hr class="container">
        <section class="copyright">
            <p>Copyright &copy; 2019. All Rights Reserved</p>
        </section>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"></script>
    <script src="js/const.js"></script>

    <script src="js/index.js"></script>
    <script src="js/user.js"></script>
</body>
</html>